@import url('https://fonts.googleapis.com/css?family=Staatliches');

#canvas {
  cursor: none;
  display: block;
  margin: 0 auto;
  width: 600px;
  z-index: 0;
  outline: 2px solid;
}

#winDiv {
  display: none;
  flex-direction: column;
  font-family: Staatliches;
  background: white;
  align-items: center;
  justify-content: center;
  left: calc(50% - 150px);
  top: 108px;
  z-index: 1;
  height: 200px;
  width: 300px;
  border-radius: 4px;
  border: 2px solid black;
  position: absolute;
}

#startDiv {
  display: flex;
  font-family: Staatliches;
  background: white;
  color: black;
  align-items: center;
  justify-content: center;
  left: calc(50% - 150px);
  top: 108px;
  z-index: 1;
  height: 200px;
  width: 300px;
  border-radius: 4px;
  border: 2px solid black;
  position: absolute;
}

#startText {
  background: black;
  width: 100%;
  color: white;
  font-size: 50px;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

#winText {
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  font-size: 50px;
  margin: 0;
}

#reset {
  cursor: pointer;
  font-size: 25px;
  margin: 0;
}
